*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: black;
    color: white;
}
#header{
    width: 100%;
    height: 100vh;
    
    background-size: cover;
    background-position: center;
}
.container{
    padding: 10px 10%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo > img{
    width: 80px;
    height: auto;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 15px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 23px;
    position: relative;
}
nav ul li a:hover{
    color: #69E584;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 4px;
    background-color: #02e433;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
   
}
nav ul li a:hover::after{
    width: 100%;
}
.header-text{
    margin-top: 18%;
    font-size: 26px;
}
.header-text h1{
    margin-top: 16px;
    font-size: 50px;
}
.header-text h3{
    margin-top: 10px;
    font-size: 30px;
}
.header-text h3 span{
    font-family: "Playwrite CU", cursive;
}
.header-text h1 span{
    color: #69E584;
}
/* ------------------------about------------------------------------------------------ */
#about{
    padding: 80px 0;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 20px;
    
}
.about-col-2{
    flex-basis: 60%;
    font-size: 20px;
}
.about-col-2 > p{
    margin: 13px 0;
}
.subtitle{
    font-size: 62px;
    font-weight: 500;
    color: #69E584;
}
.tabtitle{
    display: flex;
    margin: 20px 0 40px;
}
.tablinks{
    margin-right: 52px;
    font-size: 23px;
    font-weight: 400;
    cursor: pointer;
    position: relative;
}
.tablinks::after{
    content: '';
    width: 0;
    height: 3px;
    background: #69E584;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
#skillid:hover:after{
    width: 50%;
}
#eduid:hover:after{
    width: 50%;
}
.tabcontents ul li{
    list-style: none;
    margin: 10px 0;
}
.tabcontents ul li span{
    color: #69E584;
    font-size: 15px;
}
.nexttab{
    display: none;
}
.activetab{
    display: block;
}
/* -----------------------------services---------------------------- */

#services{
    padding: 34px 0;
}
.serviceslist{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 42px;
    margin-top: 51px;
}
.serviceslist div{
    background: rgb(49, 48, 48);
    padding: 43px;
    font-size: 15px;
    font-weight: 300;
    border-radius: 17px;
    transition: background 0.5s, transform 0.5s;
}
.serviceslist div img{
    margin-bottom: 26px;
}
.serviceslist div h2{
    font-size: 33px;
    font-weight: 500;
    margin-bottom: 13px;
}
.serviceslist div a{
    text-decoration: none;
    font-size: 15px;
    color: rgb(250, 251, 252);
    margin-top: 21px;
    display: inline-block;
}
.serviceslist div:hover{
    background: #02811e;
    transform: translateY(-15px);
}

/* ------------------------portfolio-------------------- */
#portfolio{
    padding: 50px 0;
}
.worklist{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 42px;
    margin-top: 51px;
}
.work{
    border-radius: 20px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    border-radius: 12px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6), #69E584);
    border-radius: 13px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding:0 40px;
    text-align: center;
    font-size: 15px;
    transition: height 0.5s;
}
.layer h3{
    font-weight: 500;
    margin-bottom: 22px;
}
.layer a{
    margin-top: 22px;
    color: #69E584;
    font-size: 20px;
    line-height: 62px;
    background: #fff;
    width: 61px;
    height: 61px;
    border-radius: 50%;
    text-align: center;
}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
}
/* -----------------contact----------------------------- */

#contact{
    padding: 50px 0;
}
.contactleft{
    flex-basis: 35%;
}
.contactright{
    flex-basis: 60%;
}
.contactleft p{
    padding: 10px 0;
}
.contactleft p img{
    margin-right: 15px;
    
}
.socialicons{
    margin-top: 32px;
}
.socialicons a{
    text-decoration: none;
    margin-right: 15px;
    display: inline-block;
    transition: transform 0.5s;
}
.socialicons a:hover{
    transform: translateY(-5px);
}
.btn{
    display: inline-block;
    padding: 10px 30px;
    background-color: #1b5728;
    color: white;
    border-radius: 9px;
    cursor: pointer;
}
.contactright form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background-color: rgba(128, 128, 128, 0.329);
    padding: 16px;
    margin: 15px 0;
    color: white;
    border-radius: 8px;
    font-size: 16px;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    font-weight: 300;
    margin-top: 21px;
    background: rgba(128, 128, 128, 0.384);
}

/* -----------------------------------responsive---------------------------- */
nav #mobile_view{
    display: none;
}
@media only screen and (max-width: 600px){
    .header-text{
        margin-top: 100%;
        font-size: 17px;
        flex-direction: column-reverse;
    }
    .header-text h3{
        font-size: 16px;
    }
    .header-text .left-section{
        max-width: 100%;
    }
    .header-text .right-section{
        max-width: 100%;
    }
    .left-section h1{
        font-size: 30px;
    }
    nav #mobile_view{
        display: block;
    }
    nav ul{
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 52px;
        background: #69E584;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 26px;
    }
    nav ul img{
        position: absolute;
        top: 26px;
        left: 27px;
        cursor: pointer;
    }
    
    .subtitle{
        font-size: 40px;
    }
    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 30px;
    }
    .about-col-2{
        font-size: 14px;
    }
    .tablinks{
        font-size: 17px;
        margin-right: 22px;
    }
    .tabcontents{
        font-size: 15px;
    }
    .contactleft, .contactright{
        flex-basis: 100%;
    }
    .copyright{
        font-size: 16px;
    }
}
#msg{
    color: aquamarine;
    margin-top: -3px;
    display: block;
}
/* ----------------------------------------------------------- */

.header-text{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 36px 0;
    flex-direction: column-reverse;
}
.left-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.left-section h1{
    font-size: 80px;
}
.left-section h3, div{
    font-size: 25px;   
}
.right-section img{
    border-radius: 50%;
    height: 220px;
    width: 220px;
    -o-object-fit: cover;
    object-fit: cover;
    margin-bottom: 30px;
    border: 6px solid rgba(255, 255, 255, 0.1);
}
.left-section span{
    color: #69E584;
}
