*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: black;
    color: white;
}
#header{
    width: 100%;
    height: 100vh;
    /* background-image: url(images/user.png);
    background-color: rgba(0, 0, 0, 0.975); */
    background-size: cover;
    background-position: center;
}
.container{
    padding: 10px 10%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    width: 147px;
    color: white;
    font-size: 60px;
    font-weight: 600;
}
.logo :nth-child(1){
    color: rgb(243, 26, 160);
    font-size: 90px;
}
.logo :nth-child(2){
    bottom: 4px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 15px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 4px;
    background-color: rgb(241, 182, 44);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
.header-text{
    margin-top: 18%;
    font-size: 26px;
}
.header-text h1{
    margin-top: 16px;
    font-size: 50px;
}
.header-text h3{
    margin-top: 10px;
    font-size: 30px;
}
.header-text h3 span{
    font-family: "Playwrite CU", cursive;
}
.header-text h1 span{
    color: rgb(193, 55, 214);
}
/* ------------------------about------------------------------------------------------ */
#about{
    padding: 80px 0;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 20px;
}
.about-col-2{
    flex-basis: 60%;
}
.subtitle{
    font-size: 62px;
    font-weight: 500;
    color: white;
}
.tabtitle{
    display: flex;
    margin: 20px 0 40px;
}
.tablinks{
    margin-right: 52px;
    font-size: 23px;
    font-weight: 400;
    cursor: pointer;
    position: relative;
}
.tablinks::after{
    content: '';
    width: 0;
    height: 3px;
    background: rgb(208, 52, 247);
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tablinks.activelink::after{
    width: 50%;
}
.tabcontents ul li{
    list-style: none;
    margin: 10px 0;
}
.tabcontents ul li span{
    color: rgb(252, 133, 252);
    font-size: 15px;
}
.tabcontents{
    display: none;
}
.tabcontents.activetab{
    display: block;
}
/* -----------------------------services---------------------------- */

#services{
    padding: 34px 0;
}
.serviceslist{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 42px;
    margin-top: 51px;
}
.serviceslist div{
    background: gray;
    padding: 43px;
    font-size: 15px;
    font-weight: 300;
    border-radius: 17px;
    transition: background 0.5s, transform 0.5s;
}
.serviceslist div img{
    margin-bottom: 26px;
}
.serviceslist div h2{
    font-size: 33px;
    font-weight: 500;
    margin-bottom: 13px;
}
.serviceslist div a{
    text-decoration: none;
    font-size: 15px;
    color: rgb(250, 251, 252);
    margin-top: 21px;
    display: inline-block;
}
.serviceslist div:hover{
    background: rgb(182, 53, 233);
    transform: translateY(-15px);
}
/* -----------------contact----------------------------- */

#contact{
    padding: 50px 0;
}
.contactleft{
    flex-basis: 35%;
}
.contactright{
    flex-basis: 60%;
}
.contactleft p{
    padding: 10px 0;
}
.contactleft p img{
    margin-right: 15px;
    
}
.socialicons{
    margin-top: 32px;
}
.socialicons a{
    text-decoration: none;
    margin-right: 15px;
    display: inline-block;
    transition: transform 0.5s;
}
.socialicons a:hover{
    transform: translateY(-5px);
}
.btn{
    display: inline-block;
    padding: 10px 30px;
    background-color: rgb(236, 60, 113);
    color: white;
    border-radius: 9px;
    cursor: pointer;
}
.contactright form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background-color: rgba(128, 128, 128, 0.329);
    padding: 16px;
    margin: 15px 0;
    color: white;
    border-radius: 8px;
    font-size: 16px;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    font-weight: 300;
    margin-top: 21px;
    background: rgba(128, 128, 128, 0.384);
}

/* -----------------------------------responsive---------------------------- */
nav img{
    display: none;
}
@media only screen and (max-width: 600px){
    .header-text{
        margin-top: 100%;
        font-size: 17px;
        flex-direction: column-reverse;
    }
    .header-text h1, div{
        font-size: 24px;
    }
    .header-text h3{
        font-size: 16px;
    }
    .header-text .left-section{
        width: 60%;
    }
    .header-text .right-section{
        width: 60%;
    }
    nav img{
        display: block;
    }
    nav ul{
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 52px;
        background: rgb(221, 87, 255);
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 26px;
    }
    nav ul img{
        position: absolute;
        top: 26px;
        left: 27px;
        cursor: pointer;
    }
    .subtitle{
        font-size: 40px;
    }
    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 30px;
    }
    .about-col-2{
        font-size: 14px;
    }
    .tablinks{
        font-size: 17px;
        margin-right: 22px;
    }
    .contactleft, .contactright{
        flex-basis: 100%;
    }
    .copyright{
        font-size: 16px;
    }
}
#msg{
    color: aquamarine;
    margin-top: -3px;
    display: block;
}
/* ----------------------------------------------------------- */

.header-text{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 36px 0;
}
.header-text > div{
    width: 45%;
}
.left-section{
   font-size: 30px;
}
.left-section .buttons{
    padding: 30px 0;
}
.left-section .btn{
    padding: 12px;
    background: rgb(2 9 49 / 61%);
    color: white;
    border: 2px solid white;
    border-radius: 9px;
    font-size: 16px;
}
.right-section img{
    width: 78%;
    margin: 38px 0;
}
.left-section span{
    color: rgb(233, 23, 23);
}